.comment {
  img {
    height: 0.7em;
    width: auto;
  }
  p {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -65%;
    font-size: 0.29em;
  }

  &.success {
    background: hsl(345, 57%, 33%);
  }

}
