.explore {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  content: normal;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
  

  @media (width <= 40em) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

.postsWrapper {
  display: grid;
  row-gap: 3em;
  padding: 1em 0.5em;
  height: 100%;
}
