.explore {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  content: normal;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    width: 0;
  }
  
  @media (width <= 40em) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding-block-start: 0;
  }
}

.postsWrapper {
  display: grid;
  row-gap: 1em;
  // padding-inline: 0.5em;
  // padding-bottom: 2em;
  height: 100%;
}
