.forumContainer {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  content: normal;
  scrollbar-width: none;
  padding-block-start: 1rem;
  
  &::-webkit-scrollbar {
    width: 0;
  }
  
  @media (width <= 40em) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding-block-start: 0;
  }
}

.forumList {
  display: grid;
  gap: 2rem;
  
  padding-inline: 1rem;
  padding-block-end: 1rem;
}