.forumContainer {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  content: normal;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  @media (width <= 40em) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

.forumList {
  display: grid;
  gap: 2rem;
  
  padding-inline: 1rem;
  padding-block-end: 1rem;
}