*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--inria-sans), system-ui, sans-serif;
}

input,
button,
textarea,
select,
a {
  font: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

