@use "@/scss/_mixin.scss" as *;

.postForm {
  flex: 1;
  display: flex;
  gap: 1rem;
  padding: 1.5vw 1rem;
  font-size: clamp(0.4rem, 2vw + 0.1rem, 1.1rem);

  @media (width <= 40em) {
    flex-direction: column;
  }

  :where(section) {
    flex: 1;
  }

  @include styled-textarea();
}

.leftSection {
  display: grid;
  grid-template-rows: 3fr 1fr;
  row-gap: 1rem;

  @media (width <= 40em) {
    grid-template-rows: 2fr 1fr;
  }
}

.rightSection {
  display: grid;
  grid-template-rows: auto 1fr;
}

.descriptionWrapper,
.hashtagsWrapper,
.codeWrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.3rem;
  
  &.error {
    textarea {
      color: rgb(255, 71, 71);
      outline: 1px solid red;
    }

    label::after, textarea::placeholder {
      color: rgb(255, 71, 71);
    }
  }

  
  label::after {
    content: attr(data-error-msg);
    margin-left: 1em;
    font-size: 0.6em;
    text-transform: lowercase;
    letter-spacing: 0.03em;
    font-weight: 300;
    font-family: var(--libre-franklin);
  }
}

.buttonWrapper {
  justify-self: end;
  display: flex;
  gap: 0.5rem;

  button {
    font-size: 0.9em;
  }
}

.dropDownMenu {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
  font-size: 0.8em;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: min(10px, 2vw);
  }

  &::-webkit-scrollbar-track {
    background: #000;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1000vw;
    background: #888888;
  }

  option {
    background-color: #000;
    border: none;
    outline: 0;
  }
}

.codeWrapper {
  max-height: fit-content;

  & label {
    position: relative;
    width: fit-content;
  }

  & > div {
    border-radius: 0.5em;
    overflow: hidden;
    padding-block-start: 1rem;
    background-color: #1e1e1e;
  }

  &.error {
    & > div {
      outline: 1px solid red;
    }
  }
}
