.renderPost {
  display: grid;
  gap: 0.3em;
  padding-inline: 0.6em;
  font-size: clamp(0.3rem, 2vw + 0.1rem, 0.9rem);
}

.normalPost {
  gap: 0.5em;
  @media (width <= 40em) {
    font-size: clamp(0.4rem, 2.2vw + 0.1rem, 1rem);
  }
}

.normalPostInfoUIWrapper {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.userPic {
  height: 2em;
  width: auto;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;

  p:last-child {
    font-size: 0.65em;
    font-family: var(--libre-franklin);
    font-weight: 500;
    letter-spacing: 0.5px;
    word-spacing: 0.02em;
    opacity: 0.7;
  }
}

.nameWrapper {
  display: flex;
  align-items: center;
  gap: 0.6em;
  font-size: 1em;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    border-radius: 50%;
  }
}

.name {
  font-family: var(--libre-franklin), sans-serif;
  font-weight: 700;
  font-size: 1.05em;
}

.inspectIcon {
  height: 0.85em;
  width: auto;
}

.alternatePostInfoUIWrapper {
  display: flex;
  gap: 1em;
  font-size: 0.55em;
  align-items: center;
}

.timeAndDate {
  display: flex;
  gap: 0.5rem;
  font-family: var(--libre-franklin);
  color: #14ffed;
  margin-inline-end: 0.5rem;

  &:first-child, &:last-child {
    font-weight: 600;
  }
}

.extraInfo {
  display: flex;
  gap: 0.5em;
  padding: 0.2em 0.5em;
  border-radius: 0.4em;
  background-color: #252525;
  letter-spacing: 0.03em;

  & > :first-child {
    font-weight: 300;
  }

  & > :last-child {
    font-weight: 500;
  }
}


.description {
  font-size: 0.9em;

  @media (width < 40em) {
    font-size: 1.05em;
  }
}

.codeBlock {
  border-radius: 0.5rem;
  position: relative;

  * {
    font-size: 0.92em;
  }
}

.actions {
  display: flex;
  gap: 0.5em;
  padding-inline: 0.5rem;

  :where(button) {
    display: grid;
    place-items: center;
    color: #fff;
    height: 1.8em;
    aspect-ratio: 1;
    border-radius: 50%;
    background: hsl(0, 0%, 20%);
    box-shadow: 0 0 0.05em hsl(0, 0%, 50%);
    position: relative;

    &::after {
      content: attr(data-count);
      position: absolute;
      top: 108%;
      font-size: 0.54em;
      font-weight: 300;
      font-family: var(--inria-sans);
      opacity: 0.7;
    }

    &:hover {
      filter: brightness(130%);

      &::after {
        opacity: 0.9;
      }
    }
  }

  :where(img) {
    height: 0.6em;
    width: auto;
  }
}
